<table class="table hover album">
    <thead>
        <th>Emp. Code</th>
    <th>Name</th>
    <th>Position</th>
    <th>Mobile</th>
    <th></th>
    </thead>
    <tbody>
        <tr *ngFor='let emp of list'>
            <td (click)='onEdit(emp)'>{{emp.empCode}}</td>
            <td (click)='onEdit(emp)'>{{emp.fullName}}</td>
            <td (click)='onEdit(emp)'>{{emp.position}}</td>
            <td (click)='onEdit(emp)'>{{emp.mobile}}</td>
            <td (click)='onDelete(emp.id)'><a class='btn text-danger'><i class='fa fa-trash'></i></a></td>
        </tr>
    </tbody>
    
</table>